.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(26, 212, 63);
  padding: 10px;
}

.header{
  padding: 200px;
}

body{
  padding: 10px;
  background-color: rgb(62, 5, 220);
}